div.card
	div.container-head
		span.title Editar Perfil
	div.container-content
		div.edit-user-profile
			.returned-msg
				div.close
					i.fa.fa-times
				span
			form(action="/me", id="edit-user", data-parsley-validate-if-empty)
				div.item
					div.description-input Nome
					div.field
						input(type="text",placeholder="Nome", required, value="#{user_data.name}",name="name",data-parsley-trigger="change")
				div.item
					div.description-input Endereço
					div.field
						input(type="text", placeholder="Av Fulano de tal", required, value="#{user_data.address}", name="address",data-parsley-trigger="change")				
				div.item
					div.description-input Email
					div.field
						input(type="text",data-parsley-type="email", required, placeholder="user@email.com", value="#{user_data.email}", name="email",data-parsley-trigger="change")		
				div.item
					div.description-input Senha
					div.field
						input(type="password",placeholder="Em branco para não alterar", name="password",data-parsley-trigger="change")		
				.divider
				span 
				div.item
					div.description-input Senha antiga
					div.field
						input(type="password",placeholder="Apenas se deseja alterar", name="currentPassword",data-parsley-trigger="change")
				.divider
				div.register-caption Selecione um dos nossos planos abaixo.
				div.item
					div.description-input Plano
					div.field
						span #{user_data.plan}

				input(type="hidden",name="uid", value="#{user_data.id}")
				
				.divider

				div.item
					div.description-single 
					div.field
						button.edit-user Salvar
