div.card
	div.container-head
		span.title Procurar membros em grupo
	div.container-content
		.returned-msg
			span
		form(id="set-group")
			div.item
				div.description-input Link do grupo
				div.field
					input(type="text",placeholder="https://facebook.com/groups/5405454545", name="group-link")
					div.loading-spinner.group-load
			div.item
				div.description-single
				div.field
					button.send.set-group Procurar

			div.divider