div.head
	div.wrap
		a(href="/").brand 
			span.fa.fa-dot-circle-o 
			|  Publiciter
		span.actions
			ul
				li(class=(user_logged === true ? 'hide' : 'show'))
					a(href="/register") Registro
				li(class=(user_logged === true ? 'hide' : 'show'))
					a(href="/") Login


				li(class=(user_logged === true ? 'show' : 'hide'))
					a(href="/me") #{( user_data? user_data.name : '')}
				li(class=(user_logged === true ? 'show' : 'hide'))
					a(href="/logout") Sair