div.login
	.returned-msg
		div.close
			i.fa.fa-times
		span
	form(action="/", id="login-form")
		div.login-caption Por favor, faça login antes de continuar.
		div.item
			div.description-input Email
			div.field
				input(type="email", placeholder="user@email.com", name="email", required, data-parsley-trigger="change")		
		div.item
			div.description-input Combinação
			div.field
				input(type="password", placeholder="****", name="password", required)		
		div.item
			div.description-single 
			div.field
				button.login-user Entrar				
		div.item
			div.description-single
			div.field
				span Não possui conta? 
				a( href="/register" )
					| Crie uma agora
				|  mesmo.