div.card
	div.container-head 
		span.title Criar Anúncio
	div.container-content
		//-span #{groupS}
		div.identification
			if group.icon
				div.picture
					img(src="#{group.icon}")
				span #{group.name} - #{group.total}
				span.description-group #{group.total} membros
			
			else
				span #{group.name}
				span.description-group #{group.total} membros
		form(id="message-form", action="/new", method="post",  data-parsley-validate)
			div.no-account
				p 
					| Você precisa 
					a( href="/fb" ) adicionar uma conta do facebook
					|  antes de continuar.
			div.item
				div.description-input.account-input-desc Conta
				div.field
					input(type="text",placeholder="Buscar conta...", autocomplete="off", required, parsley-trigger="change", id="fb-acct-get")
					input(type="hidden", name="account", class="acct")

					i.fa.fa-search
					ul.sugest
			div.item.msg-container
				div.description Mensagem
				div.field
					textarea(placeholder="Mensagem", name="msg[0]", required)
			div.item
				div.description-single
				div.field
					a(href="#", class="add-msg-field") Adicionar mensagem
			// -div.item
			// -	div.description-input Link
			// -	div.field
			// -		input(type="text",placeholder="Link", name="text_link", required, parsley-trigger="change", parsley-type="url")
			// -div.item
			// -	div.description-input Imagem
			// -	div.field
			// -		input(type="text",placeholder="Em breve", name="text_image")
			div.item
				div.description-input Programar
				div.field
					input.time.end(type='text', name="timex" placeholder="Em branco resulta em enviar 'Agora'")
			//- div.item
			//- 	div.description-input Mensagem
			//- 	div.field
			//- 		input(type="text",placeholder="Mensagem")
			div.item
			.returned-msg.success.sent-t
				div.close.right
					i.fa.fa-check
				span
			div.loading-spinner.load-send
			div.divider
				div.item
					//- input.time.end(type='text')
					div.field
					
						input(type="hidden",name="id", value="#{group.id}")
					button.send.btn-send.start-messaging Enviar

			//- div.divider
			//- 	div.item
			//- div.divider

