div.login
	form(id="register-form", action="/register", method="post", data-parsley-validate)
		div.register-caption Cadastro de usuário
		.returned-msg
			div.close
				i.fa.fa-times
			span
		div.item
			div.description-input Nome
			div.field
				input(type="text",placeholder="Nome", name="name", data-parsley-trigger="change", data-parsley-range="[3, 20]")
		div.item
			div.description-input Endereço
			div.field
				input(type="text",placeholder="Av Fulano de tal", name="address",required, data-parsley-trigger="change", data-parsley-range="[3, 75]")				
		div.item
			div.description-input Email
			div.field
				input(type="email",placeholder="user@email.com", name="email", required, data-parsley-trigger="change")		
		div.item
			div.description-input Confirmar email
			div.field
				input(type="email",placeholder="Digite email novamente", required, name="comfirmEmail", data-parsley-trigger="change")		
		div.item
			div.description-input Senha
			div.field
				input(type="password",placeholder="****", name="password", data-parsley-trigger="change", value="")		
		div.item
			div.description-input Confirmar senha
			div.field
				input(type="password",placeholder="****", name="comfirmPassword", data-parsley-trigger="change")
		.divider
		div.register-caption Selecione um dos nossos planos abaixo.
		div.item
			div.description-input Plano
			div.field
				select(name="plan")
					option Padrão
					option Intermediário
					option Empresarial
					option Plano diferenciado


		.divider

		div.item
			div.description-single Termos de uso
				
			div.field 
				input(type="checkbox", name="terms", value="1") 

				|  Ao clicar comfirmo estard e acordo com os termos de uso.
		div.item
			div.description-single 
			div.field
				button.register-user Criar conta
		div.item
			div.description-single
			div.field
				span Já possui uma conta? 
				a( href="/" )
					| Entre agora
				|  mesmo.