div.sidebar
	ul
		li(class=(page === 'new_advertising' ? 'active' : ''))
			a(href="/new") 
				span.fa.fa-desktop 
				span.caption  Criar				
		li(class=(page === 'sent_messages' ? 'active' : ''))
			a(href="/sent") 
				span.fa.fa-clock-o 
				span.caption  Relatório de envio
		li(class=(page === 'groups' ? 'active' : ''))
			a(href="/groups") 
				span.fa.fa-users 
				span.caption  Grupos cadastrados
		li(class=(page === 'edit_profile' ? 'active' : ''))
			a(href="/me") 
				span.fa.fa-user 
				span.caption  Meus dados
		li(class=(page === 'fb' ? 'active' : ''))
			a(href="/fb") 
				span.fa.fa-cogs 
				span.caption  Contas facebook
		li(class=(page === 'admin' ? 'active' : ''))
			a(href="/adm") 
				span.fa.fa-asterisk 
				span.caption  Administração		