extends layout

block content
	include ./inc/head.jade
	div.main.wrap
		div.areas
			include ./inc/sidebar.jade
			div.content
				div.container
					div.card
						div.container-head
							span.title Contas do facebook
						div.container-content
							h4 Contas
							if fb_accounts.length > 0
								table
									thead
										tr.header
											th
												| #
											th
												| Email
											th
												| Nome
											th
												| Opções

									tbody
										each account, i in fb_accounts
											tr
												td 
													span #{account.id}
												td
													span #{account.email}
												td 
													span #{account.name}
												td 
													a(href="/fb/delete/#{account.id}") Excluir
							else
								div.theres-no-data Você ainda não possui contas do facebook												
							.divider
							form(id="add-acct-form", action="/add-acct", method="post", data-parsley-validate)
								div 
									p Adicionar conta
									small 
										strong Nota 
										| Seus dados do facebook são criptografados em uma hash TKIP de 256-bit de modo que nem nós nem você poderia reconhece-los. Apenas é compreendido pela máquina.
									p  
								.returned-msg
									div.close
										i.fa.fa-times
									span
								div.item
									div.description-input Email
									div.field
										input(type="email",placeholder="Nome", value="tyleryoussef@linuxmail.org", name="email", data-parsley-trigger="change")
								div.item
									div.description-input Senha
									div.field
										input(type="password", name="passwd", value="face4321", placeholder="******",required, data-parsley-trigger="change")				
										input(type="hidden", name="added_on", value="#{+new Date()}")
										input(type="hidden", name="owner", value="#{user_data.id}")				

								
								div.item
									div.description-single 
									div.field
										button.push-fb-acct Adicionar conta
								div.loading-spinner.add-fb-load

