extends layout

block content
	include ./inc/head.jade
	div.main.wrap
		div.areas
			include ./inc/sidebar.jade
			div.content
				div.container
					div.card
						div.container-head Grupos cadastrados
						div.container-content
							if groups.length > 0
								table

									thead
										tr.header
											th
												| #
											th
												| Nome
											th
												| Membros
											th
												| Options
									tbody
										each group, i in groups
											tr
												td 
													span #{group.id}
												td.text-ex
													a(href='/new/' + group.scoped_id)  #{group.name}
												td 
													span #{group.total}
												td 
													a(href="groups/delete/" + group.id) Delete
							else
								div Você ainda não cadastrou nenhum grupo.
