doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	script(src="/javascripts/jquery-2.1.3.min.js")
	script(src="/javascripts/app.js")
	script(src="/javascripts/parsley.js")
	script(src="/javascripts/jquery.datetimepicker.js")
	script(src="/javascripts/tooltip.js")

	


