extends layout

block content
	include ./inc/head.jade
	div.main.wrap
		div.areas
			include ./inc/sidebar.jade
			div.content
				div.container
					div.card
						div.container-head
							span.title Relatório de envios
						div.container-content
							if schedules.length > 0
								each schedule, i in schedules
									.report-item
										if schedule.completed == "1"
											span.is-running.tp(title="Iniciado")
												i.fa.fa-check
										else
											span.is-running.tp(title="Aguardando")
												i.fa.fa-times					
										span #{schedule.name}
										span.is-settings
											i.fa.fa-cog

										if schedule.when == "null"
											span.is-timex.tp(title="Iniciado")
												i.fa.fa-clock-o
										else
											span.is-timex.tp(title="Acontecerá em #{schedule.when}")
												i.fa.fa-clock-o
		
										span.member-count.tp(title="#{schedule.name} <strong>#{schedule.total}</strong> membros")
											| #{schedule.scoped_id}
							else
								span Não há envios para serem mostrados
