extends layout

block content
	include ./inc/head.jade
	div.main.wrap
		span Seu registro precisa ser revisado antes de continuar. Em breve um email será enviado com a confirmação.
		div.back 
			a(href="/") Voltar