@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Varela|Chivo);
@import url(font-awesome.css);
@import url(jquery.datetimepicker.css);


*{
  margin: 0;
  padding: 0;
  font-family:arial;
  font-family: 'Varela', sans-serif;
}
body{
  background: #F4F4F4;

}
body, html{
  height: 100%;
}
input, textarea, select{
	border: 1px solid #D8D1D1;
	padding: 7px;
	width: 75%;
}
input[type="checkbox"]{
  width: 0;
}
h4{
  font-weight: 100;
}
button{
	background: none repeat scroll 0% 0% #3D589B;
	color: #FFF;
	border: medium none;
	padding: 7px 21px;
}
button:active{
	background: none repeat scroll 0% 0% #1C3471;
	color: #FFF;
	border: medium none;
	padding: 7px 21px;
}
.btn-send{
	float: right;
	top: 5px;
	position: relative;
}
.head{
  display: block;
  width: 100%;
  background: #3D589B;
  padding-top: 15px;
  padding-bottom: 15px;
}
.theres-no-data{
  padding-top: 15px;
  font-weight: 100;
  font-family:arial;
  font-style: italic;
}
.head ul{
  list-style: none;
  display: block;
  position: relative;
}
.returned-msg.success{
  background: #196DBF;
color: #fff;
}
.close.right{
  background: #1C98D2;
color: #fff;
}
.add-fb-load{
  top: -30px !important;
  display: none;
}
.head li{
  display: inline;  
}
.wrap{
  width: 70%;
  margin: 0px auto;
}
.head .brand{
  color:#fff;
  text-decoration: none;
    font-weight: bold;
  font-family: 'Varela', sans-serif;
    
}
.head .actions{
  float: right;
}
.actions li a{
  color:#fff;

  text-decoration: none;
}
.actions a:hover{
  text-decoration: underline;
}
.actions li{
  margin: 0 5px;
}
.sidebar{
  position: absolute;
  top:0;  
  bottom: 0;
  left:0;
}
.sidebar ul{
  list-style:none;
  margin: 0;
  padding-left: 25px; 
  padding-right: 25px;
  padding-top: 25px;
}
.sidebar li{
	border-bottom: 1px solid rgba(54, 75, 118, 0.13);
	padding: 10px 0px;
}
.sidebar li:first-child{
	border-top: 1px solid rgba(54, 75, 118, 0.13);

}
.sidebar .fa{
	width: 20px;
}
.sidebar li a{
  color: #364B76;
  text-decoration: none;
  height: 20px;
  display: block;
  transition: All 50ms ease-in-out;
}
.sidebar li.active{
  font-weight:bold;
  color: silver;
  /*border-color:#222;*/
}
li.active{
/*background:red;*/
}
.sidebar li:hover > a  {
	font-weight: bold;
}
.main{
  position: relative;
  min-height:100vh;
  padding: 15px;

}
.main .sidebar {
	width: 25%;
	min-height: 100vh;
	display: inline-block;
	background: none repeat scroll 0% 0% #CBCEDE;
	border-right: 1px solid rgba(0, 0, 0, 0.22);
}
.load-send{
  display: none;  
}
.main .content{
  width: 74%;
  display: block;
 
  float:right
}
.report-item{
  background-color: rgb(71, 107, 195);
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  color: #fff;
}
.is-running{
  margin-right:5px;
  margin-left: 5px;  
}
.is-timex, .is-settings{
  float: right;
  margin-right:5px;
  margin-left: 5px;  
}
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
  border-radius: 5px; 
  border: 2px solid #000;
  background: #000;
  color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
  /* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}
.tooltipster-base .tooltipster-content {
  overflow: hidden;
}
span.member-count {
  background-color: rgba(113, 129, 251, 0.48);
  padding: 2px 40px;
  color: #FFF;
  border-radius: 4px;
  /* float: left; */
  /* margin: 0 0px 8px 40%; */
  float: right;
  top: -2px;
  position: relative;
}

/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0; 
  height: 0;
  position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
  right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important; 
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important; 
  border-left: 9px solid;
  margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important; 
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important; 
  border-right: 9px solid;
  margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -o-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}
.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
  -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
  -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
  -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
  transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: rgb(61, 88, 155) none repeat scroll 0% 0% !important;
  box-shadow: none !important;
  color: #FFF;
  font-weight: 700;
}
.sent-t{
  margin: 10px 0;
}
.sugest{
  position: absolute;
  background: #FFF none repeat scroll 0% 0%;
  list-style: outside none none;
  width: 100%;
  z-index: 999;
  display: none;
  box-shadow: 0px 0px 7px -2px #222;
}
.sidebar li:first-child{
  border-top: none;
}
.sidebar li:last-child{
  border-bottom: none;
}
.account-input-desc{
  width: 19vh !important;
}
.item .fa{
  position: relative;
  margin-left: -25px;
}
.msg-container{
  margin: 15px 0px -10px 0
}
.no-account{
min-height: 60%;
width: 95%;
display: block;
position: absolute;
background: rgba(90, 87, 87, 0.94) none repeat scroll 0% 0%;
z-index: 999;
text-align: center;
display: none;
}
.no-account p {
  margin: 10% auto;
color: rgb(255, 255, 255);
}
.areas{
  min-height:100vh;
  border: 1px solid #D4D1D1;
  background:#F7F8FC;
  border-radius:4px;
  position: relative;
  overflow: hidden;
}
.container{
  padding: 25px;
  position: relative;
}
.card{
  position: relative;
}
.container-content{
  font-family: arial !important;
}
.container-head{
	background: none repeat scroll 0% 0% #CFD3DE;
	color: #3D589B;
	padding: 5px 13px;
	border-radius: 4px 4px 0px 0px;
}
.container-content{
	padding: 15.5px;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: #D4D1D1;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 0 0px 4px 4px;
}
.description{
  display: inline-block;
  height: 45px;
  position: relative;
  top: -35px;
  border-right: 1px solid #D8D1D1;
  padding-right: 25px;
  margin-right: 38px;
  width: 8.5vw;
}
.field{
  display: inline-block;
  width: 50%; 
  position: relative;
}
.sugest a {
    color: blue;
    text-decoration: none;
    padding: 5px;
      transition:All .3s ease-in-out;
}
.sugest img {
    width: 15%;
}
.sugest span{
  position: relative;
  bottom: 15px;
  left: 5px;
}
.sugest li{
  transition:All .3s ease-in-out;
  padding: 10px;
background: #fff;
}
.sugest li:hover{
  padding: 10px;
background: blue;

}
.sugest li:hover > a{
  color: #fff;
}
.description-input{
  height: 25px;
  display: inline-block;
  margin-right: 39px;
  border-right: 1px solid #D8D1D1;
  margin-top: 10px;
  width: 10vw;
}
.description-single{
  height: 25px;
  display: inline-block;
  margin-right: 40px;
  margin-top: 10px;
  width: 10vw;
}
.focused{
  color: #3161D8;
  border-color:  #3161D8;
}
.focused input{
  border-color: #3161D8;
}

.focused textarea{
  border-color: #3161D8;
}
.focused .description{
/*   font-weight: bold; */
}
.focused .description-input{
/*   font-weight: bold; */
}
.divider{
	background: none repeat scroll 0% 0% #D8D1D1;
	height: 1px;
	margin: 40px 0px;  
}
.login-caption, .register-caption{
	margin: 25px 0px;
}
.container-content table{
    width:100%; 
    border-spacing:0;
}
.container-content table thead{
    background:#ccc;
    text-align:left;
}
.container-content th:first-child,
.container-content td:first-child{
    border-left:none;
};
.container-content th:last-child,
.container-content td:last-child{
    border-right:none;
}
.container-content table th,
.container-content table tr:first-child td
{
    border-top:none;
}
.container-content table tr:last-child td{
    border-bottom:none;
}
.container-content th, .container-content td{
    padding:4px;
    border-bottom:1px solid #aaa;  
    border-left:1px solid #aaa;    

}
td:hover{
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.08);
}


.parsley-error{
  border-color:red !important;
}
.returned-msg{
  background: none repeat scroll 0% 0% rgba(252, 6, 6, 0.72);
  border-radius: 4px;
  color: #FFF;
  display: none;
  position: relative;
}
.back{
  padding: 15px 0;
}
.show{
  display: inline-block !important;
}
.hide{
  display: none !important;
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 25px;
  width: 25px;
  border: 1px solid #3D589B;
  border-right-color: transparent;
  border-radius: 50%;
  top: 5px;
  position: relative;
  float:right;
}

.group-load{
    display: none;
}
/*.text-ex {
  width: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
.identification img{
  display: inline-block;
  float:left;
  margin-right: 15px;
}
.identification span{
  display:block;
}
.description-group{
  /*margin:0;*/
  display: block;
  color: #969696;
  margin: 0px 0px 20px 0px;
}

.close{
  display: inline-block;
  height: 100%;

  background: none repeat scroll 0% 0% rgb(156, 22, 22);
  color: #EA5C5C;
  padding: 6px 12px;
  margin: 0px 10px 0px 0px;
  border-radius: 4px 0px 0px 4px;
  transition:All .3s ease-in-out;
  cursor: pointer;
}
.close:hover{
    background: none repeat scroll 0% 0% rgb(180, 37, 37);
  color: rgb(255, 255, 255);
}
.login input[type=text],.login input[type=email],.login input[type=password]{
  width: 35%;
}
/*.caption{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  display: inline-block;
}*/